In [18]:
import numpy as np
import pandas as pd

In [19]:
from numpy.random import randn
np.random.seed(101)

In [20]:
# indeksowanie poziomów:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [21]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [22]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [23]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [24]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [25]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [26]:
df.index.names = ['Groups', 'Num']

In [27]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [29]:
df.loc['G2'].loc[2]['B'] # wybranie konkretnej wartości

0.7401220570561068

In [30]:
# wybór z Groups=G1, Num=3, "A":

In [31]:
df.loc['G1'].loc[3]['A']

0.6511179479432686

In [32]:
# cross section:

In [33]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [34]:
df.xs('G1')

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [35]:
# jak pobrać wartości spod Num = 1?:

In [36]:
df.xs(1, level='Num')

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965